/* HEADER STYLE */
.studio {
     color:#2E2F42;
     font-family: Raleway , sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 21px;
     letter-spacing: 3%;
}
#iris {
    color: #4D5AE5;
}
.headerlines a {
    color:#2E2F42;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

/* -------effective-solutions style------- */

.effective-solutions {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    font-family: Roboto, sans-serif;
}
.textH1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #FFFFFF;
}
#button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    border: none;
    width: 168px;
    height: 56px;
}

/* --------------our-values style-------------- */

.teamates h4 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

.teamates p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

/* -----------our-team style----------- */

.our-team-headerline {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
}


/* -------footer style------- */

.footer-h2 {
    font-family: Raleway , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #FFFFFF;
}